<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
    <link rel="stylesheet" href = "/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href = "/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class ="navbar navbar-default">
<ul class="nav navbar-nav">
    <li><a href = "/"></i>Home</a> </li>
    <li><a href="/anju">Anju</a> </li>
    <li><a href="/kishor">Kishor</a> </li>
    <li><a href="/shivam">Shivam</a> </li>
    <li><a href="/tanisha">Tanisha</a> </li>

    </ul>
    </nav>
